@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

$chef: rgb(59, 128, 71);

.is-chef {
  background-color: $chef;
  color: $white;
}



@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/@mdi/font/scss/materialdesignicons.scss";