@charset "utf-8";
@use "../node_modules/bulma/sass/utilities/initial-variables";
@use "../node_modules/bulma/bulma";
@use "../node_modules/@mdi/font/scss/materialdesignicons";

$chef: rgb(59, 128, 71);

.is-chef {
  background-color: $chef;
  color: initial-variables.$white;
}

