# server binary
cmd/server/server
server

# generated mock files
mock_*.go
coverage.txt

# node modules
node_modules/

# go vendor
vendor/

# generated static files
static/css
static/fonts

# JetBrains IDE configuration
# special configuration files may be added if needed or reasonable
.idea/

# macOS finder files
.DS_Store
