<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/bulma.min.css">
<link rel="icon" href="/static/img/chef-hat.svg">
<link rel="apple-touch-icon" href="/static/img/chef-hat.png">