<p>
    <span class="icon">
        <i class="mdi mdi-star"></i>
    </span>
    {{ .Rating.Rating }} ({{ .Rating.NumVotes }} Bewertungen)

    {{ if gt .TotalTime 0 }}
        <br>
        <span class="icon">
        <i class="mdi mdi-clock"></i>
    </span>
        <span itemprop="totalTime" content="PT{{ .TotalTime }}M">{{ .TotalTime }} Min. Gesamtzeit</span>
    {{ end }}

    {{ if gt .PreparationTime 0 }}
        <br>
        <span class="icon">
        <i class="mdi mdi-knife"></i>
    </span>
        <span itemprop="prepTime" content="PT{{ .PreparationTime }}M">{{ .PreparationTime }} Min. Arbeitszeit</span>
    {{ end }}

    {{ if gt .CookingTime 0 }}
        <br>
        <span class="icon">
        <i class="mdi mdi-pot-steam-outline"></i>
    </span>
        <span itemprop="cookTime" content="PT{{ .CookingTime }}M">{{ .CookingTime }} Min. Koch-/Backzeit</span>
    {{ end }}

    {{ if gt .Servings 0 }}
        <br>
        <span class="icon">
        <i class="mdi mdi-bowl-outline"></i>
    </span>
        <span itemprop="recipeYield">{{ .Servings }} Portionen</span>
    {{ end }}
</p>
