<div class="columns is-vcentered">
    <div class="column">
        <h4 class="subtitle is-4 has-text-centered-mobile has-text-left is-chef-text">
                <span class="icon">
                    <i class="mdi mdi-chef-hat"></i>
                </span>
            GoCook
        </h4>
    </div>
    <div class="column">
        <div class="has-text-centered-mobile has-text-right">
            <a class="button is-normal" href="/explore">
                Rezepte entdecken
            </a>
            <a class="button is-normal" href="https://codeberg.org/NoUmlautsAllowed/gocook" target="_blank">
                <span class="icon">
                    <img src="/static/img/codeberg-icon.svg">
                </span>
                <span>Auf Codeberg besuchen</span>
            </a>
        </div>
    </div>
</div>
