<div class="columns is-vcentered is-mobile">
    <div class="column">
        <h5 class="subtitle is-5 has-text-left is-chef-text">
                <span class="icon">
                    <i class="mdi mdi-chef-hat"></i>
                </span>
            GoCook
        </h5>
    </div>
    <div class="column">
        <div class="has-text-right">
            <a class="button is-normal" href="https://codeberg.org/NoUmlautsAllowed/gocook" target="_blank">
        <span class="icon">
            <i class="mdi mdi-github"></i>
        </span>
                <span>Auf Codeberg besuchen</span>
            </a>
        </div>
    </div>
</div>
