<div class="container has-text-centered">
    <a href="/" class="">
        <h1 class="is-size-1">
                        <span class="icon is-chef-text">
                        <i class="mdi mdi-chef-hat"></i>
                        </span>
            <span class="px-2"></span>
            <span class="is-chef-text">GoCook</span>
        </h1>
    </a>
</div>