<!DOCTYPE html>
<html lang="en">
<head>
    <title>GoCook</title>
    {{ template "head.tmpl" }}
</head>
<body>


<section class="hero is-chef is-fullheight">
    <div class="hero-head">
            <div class="container has-text-centered pt-6">
                    <h1 class="is-size-1">
                        <span class="icon">
                        <i class="mdi mdi-chef-hat"></i>
                        </span>
                        <span class="px-2"></span>
                        GoCook
                    </h1>
            </div>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {{ template "search.tmpl" }}
        </div>
    </div>

    <div class="hero-foot"></div>
</section>

</body>
</html>