<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>{{ .Title }}</title>
</head>
<body>
<div class="container is-max-widescreen">
    <div class="content">
        <h1>{{ .Title }}</h1>
        {{ range .IngredientGroups }}
        <p>{{ .Header }}</p>
        <ul>
        {{ range .Ingredients }}
        <li>{{ .Name }}  {{ .Amount }}{{ .Unit }}</li>
        {{ end}}
        </ul>
        {{ end }}
        {{ range .Instructions }}<p>{{ . }}</p>{{ end }}
    </div>
</div>
</body>
</html>